# encoding: utf-8
# Copyright 2011-2013 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extends = http://dist.plone.org/release/4-latest/versions.cfg
versions = versions
parts = test plone
develop = .

[test]
recipe = collective.xmltestreport
defaults = ['--auto-color', '--auto-progress', '--verbose']
eggs = eke.review[test]

[plone]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs =
    Plone
    Pillow
    eke.review
